[submodule "Contents/Libraries/Shared/mygpoclient_repo"]
	path = Contents/Libraries/Shared/mygpoclient_repo
	url = https://github.com/gpodder/mygpoclient.git
[submodule "Contents/Libraries/Shared/podcastparser_repo"]
	path = Contents/Libraries/Shared/podcastparser_repo
	url = https://github.com/gpodder/podcastparser.git
